
center {

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  #aboveCenter {
     position: absolute;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
    }

    #rightCenter {
        position: absolute;
        top: 50%;
        left: 75%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
      }

      #leftCenter {
          position: absolute;
          top: 50%;
          left: 25%;
          margin-right: -50%;
          transform: translate(-50%, -50%)
        }

        #bottomCenter {
            position: absolute;
            top: 70%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
          }

#containerTop{
  position: relative;
  top: 15%;
}

#containerRight{
  position: relative;
  top: 50%;
}

#containerLeft{
  position: relative;
  top: 50%;
}

#containerBot{
  position: relative;
  top: 85%;
}



  .shadowed{
    -webkit-box-shadow: 0 0 40px rgba(0, 0,0, .9);
  }


  .circular {
  	width: 460px;
  	height: 400px;
  	border-radius: 300px;
  	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  	}
