
center {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  #aboveCenter {
     position: absolute;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
    }

    #rightCenter {
        position: absolute;
        top: 50%;
        left: 67%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
      }

      #leftCenter {
          position: absolute;
          top: 50%;
          left: 33%;
          margin-right: -50%;
          transform: translate(-50%, -50%)
        }

        #bottomCenter {
            position: absolute;
            top: 70%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
          }

#containerTop{
  position: relative;
  top: 20%;
}

#containerRight{
  position: relative;
  top: 50%;
}

#containerLeft{
  position: relative;
  top: 50%;
}

#containerBot{
  position: relative;
  top: 80%;
}



  .shadowed{
    -webkit-box-shadow: 0 0 40px rgba(0, 0,0, .9);
  }


  .circular {
  	width: 300px;
  	height: 300px;
  	border-radius: 150px;
  	-webkit-border-radius: 150px;
  	-moz-border-radius: 150px;
  	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  	}
